<h1>New operation</h1>

<form id="new-operation" name="operation">
  <div class="field">
    <label for="title"> title:</label>
    <input type="text" name="title" id="title" value="<%= title %>" >
  </div>

  <div class="actions">
    <input type="submit" value="Create Operation" />
  </div>

</form>

<a href="#/index">Back</a>