<h1>Edit url_item</h1>

<form id="edit-url_item" name="url_item">
  <div class="field">
    <label for="title"> title:</label>
    <input type="text" name="title" id="title" value="<%= title %>" >
  </div>

  <div class="field">
    <label for="operation_id"> operation_id:</label>
    <input type="text" name="operation_id" id="operation_id" value="<%= operation_id %>" >
  </div>

  <div class="actions">
    <input type="submit" value="Update Url item" />
  </div>

</form>

<a href="#/index">Back</a>