<h1>Listing url_items</h1>

<table id="url_items-table">
  <tr>
    <th>Title</th>
    <th>Operation</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
</table>

<br/>

<a href="#/new">New Url item</a>