<h1>Listing url_item_comments</h1>

<table id="url_item_comments-table">
  <tr>
    <th>Comment</th>
    <th>Url item</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
</table>

<br/>

<a href="#/new">New Url item comment</a>